# build outputs
dist/
*.app
*.dmg
*.tar.gz

# pyinstaller
*.spec

# python cache
__pycache__/
.pytest_cache
*.pyc

# macOS
.DS_Store

# instructions
instructions/

# R
.Rhistory

# old deprecated files
assisting_scripts/GoogleAppSkript
assisting_scripts/run_login_auth0_v1.0.py
assisting_scripts/run_login_orcid_v1.0.py
build/AppPackageGenerationInstruction(old).txt
assisting_scripts/run_login_auth0_v1.0.py

# other
CS50p_introduction.html