# build outputs
dist/
environment/
*.app
*.dmg
*.tar.gz

# python cache
__pycache__/
.pytest_cache
*.pyc

# macOS
.DS_Store

# R
.Rhistory

# old deprecated files
assisting_scripts/GoogleAppSkript
assisting_scripts/run_login_auth0_v1.0.py
assisting_scripts/run_login_orcid_v1.0.py
build/AppPackageGenerationInstruction(old).txt

# other
CS50p_introduction.html